# Large files
*.zip
*.7z
.obsidian/workspace.json

# user specific files
instancePath.txt

# stuff to make it possible to just copy over from a profile export
overrides/usercache.json
overrides/patchouli_data.json
overrides/options.txt
overrides/enigmatic_persistence.dat
overrides/modernfix/
overrides/logs/
overrides/local/
overrides/journeymap/
overrides/fancymenu_data/
overrides/saves/
overrides/simplebackups/
overrides/config/jei/world/
overrides/config/blockswap/known_states/
*.bak