# Large files
*.7z
.obsidian/workspace.json
src/overrides/config/registryDump.txt
src/overrides/config/spawnbalanceutility/AllMobEntities.rpt

# user specific files
instancePath.txt

# stuff to make it possible to just copy over from a profile export
src/overrides/usercache.json
src/overrides/patchouli_data.json
src/overrides/options.txt
src/overrides/enigmatic_persistence.dat
src/overrides/modernfix/
src/overrides/logs/
src/overrides/local/
src/overrides/journeymap/
src/overrides/fancymenu_data/
src/overrides/saves/
src/overrides/simplebackups/
src/overrides/config/jei/world/
src/overrides/shaderpacks/ComplementaryReimagined_r5.4 + EuphoriaPatches_1.5.2.txt
src/overrides/shaderpacks/ComplementaryReimagined_r5.4.zip.txt
src/overrides/config/blockswap/known_states/
src/overrides/resourcepacks/SE Vanilla Consistency 1.19.2.zip
src/overrides/resourcepacks/Infernal Resources.zip
src/overrides/resourcepacks/Quark Programmer Art.zip
/src/*.zip
*.bak
